<div>
    <h2 id="page-heading">
        <span jhiTranslate="pinguinApp.partnerRole.home.title">Partner Roles</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-partner-role" [routerLink]="['/partner-role/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="pinguinApp.partnerRole.home.createLabel">
            Create new Partner Role
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="partnerRoles">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="pinguinApp.partnerRole.roleName">Role Name</span></th>
            <th><span jhiTranslate="pinguinApp.partnerRole.partnerAccount">Partner Account</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let partnerRole of partnerRoles ;trackBy: trackId">
                <td><a [routerLink]="['/partner-role', partnerRole.id, 'view' ]">{{partnerRole.id}}</a></td>
                <td>{{partnerRole.roleName}}</td>
                <td>
                    <div *ngIf="partnerRole.partnerAccount">
                        <a [routerLink]="['../partner-account', partnerRole.partnerAccount?.id, 'view' ]" >{{partnerRole.partnerAccount?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/partner-role', partnerRole.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/partner-role', partnerRole.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'partner-role/'+ partnerRole.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
