<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="partnerUser">
            <h2><span jhiTranslate="pinguinApp.partnerUser.detail.title">Partner User</span> {{partnerUser.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pinguinApp.partnerUser.userName">User Name</span></dt>
                <dd>
                    <span>{{partnerUser.userName}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/partner-user', partnerUser.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
