<div>
    <h2 id="page-heading">
        <span jhiTranslate="pinguinApp.partnerUser.home.title">Partner Users</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-partner-user" [routerLink]="['/partner-user/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="pinguinApp.partnerUser.home.createLabel">
            Create new Partner User
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="partnerUsers">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="pinguinApp.partnerUser.userName">User Name</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let partnerUser of partnerUsers ;trackBy: trackId">
                <td><a [routerLink]="['/partner-user', partnerUser.id, 'view' ]">{{partnerUser.id}}</a></td>
                <td>{{partnerUser.userName}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/partner-user', partnerUser.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/partner-user', partnerUser.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'partner-user/'+ partnerUser.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
